[Desktop Entry]
Name=Gall-array
Comment=Simple minimalist image gallery
Exec=python3 /home/anarchy/galleray/galleray.py %F
Icon=/home/anarchy/galleray/galleray.png
Terminal=false
Type=Application
Categories=Graphics;Viewer;
MimeType=inode/directory;
